<div class="alert alert-danger fade show" *ngIf="errorMessage$ | async as errorMessage">
  {{errorMessage}}
  <button class="close" (click)="clearError()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="companyData$ | async as data">
  <thead>
    <tr>
      <ng-container *ngFor="let header of fieldHeaders">
        <th><a (click)="onSort(header)">{{header}}</a></th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.companyName }}</td>
      <td>{{ item.yearsInBusiness }}</td>
      <td>{{ item.contactName }}</td>
      <td>{{ item.contactEmail }}</td>
      <td>{{ item.contactPhone }}</td>
    </tr>
  </tbody>
</table>
